<footer class="footer" id="footer">
    <p>Copyright © 2014 FindiX Studio All Right Reserved.</p>

    <p>
        Developed by <a href="http://www.find1x.com/">FindiX寻未工作室</a>, Licensed under the Apache License, Version 2.0.
    </p>

    <p>
        Powered By <a href="http://www.bootcss.com/" target="_blank"
                      title="Bootstrap中文网">Bootstrap</a> | <a
                href="http://www.oracle.com/technetwork/java/javaee/overview/‎"
                target="_blank" title="Java EE"> Node.js </a> | <a
                href="https://www.mongodb.org/‎" target="_blank" title="MongoDB">MongoDB</a>
        | <a href="http://struts.apache.org/" target="_blank" title="Struts">Express</a>
    </p>
</footer>